views/account/forgot.pug
doctype html
html
  head
    meta(charset='UTF-8')
    title Reset password
    link(rel='stylesheet', href='css/loginstyle.css')
  body
    body.align
      .overlay
      .site__container
        .grid__container
          h1 Reset password
          form.form.form--login(method='post')
            input(type='hidden', name='_csrf', value = _csrf)
            include flash
            .form__field
              label.fa.fa-envelope(for='login__username')
                span.hidden email
              |  
              input#login__username.form__input(type='text', name='email', placeholder='Email', required='')
            .form__field
              input(type='submit', value='Send password')
          p.text--center
            a(href='/login') Log in &nbsp;
            span.fontawesome-arrow-right(style='color: #eee;')

public/forgot.html
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Reset password</title>
	<link rel="stylesheet" href="css/loginstyle.css">
</head>

<body>

	<body class="align">
		<div class="overlay"></div>
		<div class="site__container">
			<div class="grid__container">
                <h1>Reset password</h1>
				<form method="post" class="form form--login">
					<input type="hidden" name="_csrf">
					<div class="form__field">
						<label for="login__username" class="fontawesome-envelope"><span class="hidden">email</span></label>
						<input id="login__username" type="text" name="email" placeholder="Email" required="" class="form__input">
					</div>					
					<div class="form__field">
						<input type="submit" value="Send password">
					</div>
				</form>
				<p class="text--center"><a href="login.html">Log in &nbsp;</a><span style="color: #eee;" class="fontawesome-arrow-right"></span></p>
			</div>
		</div>
	</body>
</body>

</html>
